.Rproj.user
.Rhistory
.RData
.Ruserdata
*.RData

*.pdf
*.tiff
*.png
*.docx
*.7z
*.html
*.txt
*.xlsx

meetings/
output/
archive/

nullModel.R
cpueAVG.jags
function-genealize.R
scratch_pad.R

*.o
*.dll
*.html
*.rds