.Rproj.user
.Rhistory
.RData
.Ruserdata
*.RData
*.pdf
*.tiff
*.png
*.docx
*.7z
*.html
*.txt
*.xlsx
*.xls
meetings/
output/
archive/
nullModel.R
cpueAVG.jags
function-genealize.R
scratch_pad.R
scratch_*
*.o
*.dll
*.html
*.rds
M.csv
